.card {
    -fx-spacing: 10;
    -fx-padding: 5;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-color: #37427c;
    -fx-border-radius: 8;
    -fx-border-width: 1;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0, 0, 2);
    -fx-cursor: hand;
}

.card:hover {
    -fx-background-color: #C2D7FF;
}

#itemNameLabel {
    -fx-font-size: 18px;
    -fx-text-fill: #212121;
    -fx-font-weight: bold;
}

.card:hover #itemNameLabel {
    -fx-font-size: 18px;
    -fx-text-fill: #212121;
}

#statusLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #757575;
    -fx-text-transform: uppercase;
}

.card:hover #statusLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #757575;
}

.image-container {
    -fx-background-color: #37427c;
    -fx-background-radius: 8 8 0 0;
    -fx-border-color: transparent transparent #C2D7FF transparent;
    -fx-border-width: 1;
}

.action-pane {
    -fx-background-color: #f8f9fa; /* Very light gray */
    -fx-border-color: #dee2e6;     /* Subtle border */
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0); /* Subtle shadow */
    -fx-margin: 10px;
}

.confirm-button {
    -fx-background-color: #28a745; /* Green */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
}

.cancel-button {
    -fx-background-color: #dc3545; /* Red */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
}