/* table-style.css */

.table-view {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-color: #e0e0e0;
  -fx-border-width: 1;
}

/* header */
.table-view .column-header-background {
  -fx-background-color: #37427c;
  -fx-background-radius: 0;
}

.table-view .column-header {
  -fx-background-color: transparent;
  -fx-size: 50;
}

.table-view .column-header .label {
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-alignment: center-left;
}

/* Remove default header separators */
.table-view .column-header .filler,
.table-view .column-header-background .filler {
  -fx-background-color: transparent;
}

/* 2. Cell and Row Styling */
.table-view .table-row-cell {
  -fx-background-color: white;
  -fx-border-color: transparent transparent #f0f0f0 transparent;
}

/* Hover effect */
.table-view .table-cell:hover {
  -fx-background-color: #f0f2ff;
}

.table-view .table-cell {
  -fx-padding: 15;
  -fx-text-fill: #555555;
  -fx-alignment: center-left;
}

/* for placeholder */
.table-view .placeholder .label {
  -fx-text-fill: #999999;
}

.table-view .show-hide-columns-button {
  -fx-background-color: transparent;
}
