.root-pane {
    -fx-background-color: linear-gradient(to bottom, #37427c, #C2D7FF);
    -fx-font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.label {
    -fx-text-fill: #37427c;
}
.button {
    -fx-background-color: #006eff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-padding: 10 20;
    -fx-margin: 10;
}

.button:hover {
    -fx-background-color: #4092ff;
}

.text-field, .password-field {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-prompt-text-fill: white;
    -fx-background-radius: 8;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-radius: 8;

    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI Semilight";
    -fx-text-fill: white;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #006eff;
}