.auction-card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-color: #37427c;
    -fx-border-radius: 8;
    -fx-border-width: 1;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0, 0, 2);
    -fx-cursor: hand;
}

.auction-card:hover {
    -fx-background-color: #C2D7FF;
}

#itemNameLabel {
    -fx-font-size: 18px;
    -fx-text-fill: #212121;
    -fx-font-weight: bold;
}

.auction-card:hover #itemNameLabel {
    -fx-font-size: 18px;
    -fx-text-fill: #212121;
}

#statusLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #757575;
    -fx-text-transform: uppercase;
}

.auction-card:hover #statusLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #757575;
}

.image-container {
    -fx-background-color: #37427c;
    -fx-background-radius: 8 8 0 0;
    -fx-border-color: transparent transparent #C2D7FF transparent;
    -fx-border-width: 1;
}