.edit-btn {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-padding: 8 18;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-cache: true;
}

.edit-btn:hover {
    -fx-background-color: #3b82f6;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0, 0, 3);
}

.edit-btn:pressed {
    -fx-background-color: #1d4ed8;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
/* SUCCESS  */
.success {
    -fx-text-fill: green;
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-border-color: green;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 3;
}

/* ERROR  */
.error {
    -fx-text-fill: white;
    -fx-background-color: #ef4444;
    -fx-font-weight: bold;
    -fx-background-radius: 3;
    -fx-padding: 3;
}
.background-card {
    -fx-background-color: #DCE7F5;
    -fx-padding: 25;
    -fx-background-radius: 18;
    -fx-border-radius: 18;
    -fx-border-color: #b8c7db;
    -fx-border-width: 1.2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 10, 0, 0, 3);
}
.green-button {
    -fx-background-color: linear-gradient(to right, #22c55e, #16a34a);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.red-button {
    -fx-background-color: linear-gradient(to right, #ef4444, #dc2626);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.input-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #b6c6db;
    -fx-padding: 10;
    -fx-font-size: 13;
}

.section-box {
    -fx-background-color: rgba(255,255,255,0.65);
    -fx-padding: 16;
    -fx-background-radius: 16;
}
